@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */ 
.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link :hover{
  color: #757de8;
}

/* Home */
.home-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("home-bg.jpg");
  color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
}

.home-header-padding {
  width: 10px;
}

.home-main-text {
  display: flex;
  font-size: 3vw;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #dbf3fa, #757de8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spacer {
  height: 2vh;
}

/* NewListing */
.listing-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("new-listing-bg.jpg");
  color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
}

.main-text {
  font-size: 3vw;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #dbf3fa, #757de8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FileUpload */
.form-inputs {
  display: flex;
  width: 55vw;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
}

.upload-image-container {
  background-color: rgba(	233,	248,	248, 0.2);
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40vh;
  width: 20vw;
  min-width: 200px;
  border-radius: 20px;
  padding: 5vw;
}

.upload-image-container-inside {
  visibility: hidden;
}

.uploaded-image {
  object-fit: cover;
  width: 25vw;
  height: 40vh;
}

.file-upload-text-fields {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 20vw;
}

.spacer {
  height: 3vh;
}