@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

/* Navbar */ 
.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link :hover{
  color: #757de8;
}

/* Home */
.home-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("home-bg.jpg");
  color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
}

.home-header-padding {
  width: 10px;
}

.home-main-text {
  display: flex;
  font-size: 3vw;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #dbf3fa, #757de8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.spacer {
  height: 2vh;
}

/* Products */
.products-container {
  color: black;
  height: 80vh;
  display: flex;
  align-items: center;
}

.product-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  padding-right: 50px;
  max-width: 250px;
}

.product-heading {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
  padding-bottom: 2px;
}

.product-subheading {
  color: #757de8;
  font-size: 15px;
  padding-bottom: 30px;
}

.product-text {
  font-size: 15px;
  align-items: flex-start;
  line-height: 1.5;
}

/* Filler */
.filler {
  height: 50vh;
  background-color: #d3d3d3;
  display: flex;
}

.advantage-card {
  height: 100%;
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.advantage-text {
  padding: 5px 0;
  font-weight: 600;
  font-size: 20px;
}

.advantage-disc {
  font-size: 15px;
  max-width: 75%;
}

/* AllProducts */
.all-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

.all-products-heading {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 5vh;
}

.all-products-container-layer {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 60px;
}

/* Card */
.card-container {
  width: 300px;
  height: 60vh;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.item-img {
  width: 250px;
  height: 50vh;
  object-fit: cover;
  padding-bottom: 15px;
}

/* .item-img :hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 10ms ease;
  -moz-transition: all 10ms ease;
  -o-transition: all 10ms ease;
  -ms-transition: all 10ms ease;
  transition: all 10ms ease;
} */

.spl-container {
  position: relative;
  width: 250px;
  height: 50vh;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.7);
}

.spl-container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.item-name {
  text-transform: capitalize;
  font-weight: 600;
  padding: 10px 0;
}

.item-price {
  color: #757de8;
  text-transform: capitalize;
}

/* NewListing */
.listing-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("new-listing-bg.jpg");
  color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
}

.main-text {
  font-size: 3vw;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #dbf3fa, #757de8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FileUpload */
.form-inputs {
  display: flex;
  width: 55vw;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
}

.upload-image-container {
  background-color: rgba(	233,	248,	248, 0.2);
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40vh;
  width: 20vw;
  min-width: 200px;
  border-radius: 20px;
  padding: 5vw;
}

.upload-image-container-inside {
  visibility: hidden;
}

.uploaded-image {
  object-fit: cover;
  width: 25vw;
  height: 40vh;
}

.file-upload-text-fields {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 20vw;
}

.spacer {
  height: 3vh;
}