@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* NewListing */
.listing-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url("new-listing-bg.jpg");
  color: antiquewhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-text {
  font-size: 3vw;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #4169e1, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FileUpload */
.form-inputs {
  display: flex;
  width: 55vw;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
}

.upload-image-container {
  background-color: rgba(	233,	248,	248, 0.2);
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40vh;
  width: 20vw;
  border-radius: 20px;
  padding: 5vw;
}

.upload-image-container-inside {
  visibility: hidden;
}

.uploaded-image {
  object-fit: cover;
  width: 25vw;
  height: 40vh;
}

.file-upload-text-fields {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 20vw;
}

.spacer {
  height: 3vh;
}